/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

/* TESTA PAGINA */
header{
    background-image: url('../img/pattern.png');
    background-color: #5ea1ff;
    background-size: 20%;
}

#color{
    color: aqua;
}

section{
    margin: 30px 0;
}

/* TABELLA */
thead{
    background-color: #5ea1ff;
    color: #ffffff;
}

td{
    padding: 10px;
}

.parte-t1,
.parte-t3{
    background-color: #5effff;
}


.larghezza-t1,
.larghezza-t2{
    width: 30%;
}

/* FOOTER */
h4{
    margin-bottom: 10px;
}

.immagine-fondo-prima{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.immagine-fondo-seconda{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.colore-bianco{
    color: white;
}

/* BONUS */
.centratura{
    width: 80%;
    margin: auto;
}