/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
}

#ridimensionamento{
    width: 200px;
}

#colore-azzurro{
    color: aqua;
}

p{
    width: 1058px;
    padding: 20px;
}

ul{
    padding: 20px;
}

/* TABELLA */
th{
    background-color: aqua;
}

th, td{
    width: 350px;
    height: 20px;
}

/* FOOTER */
.immagine-fondo-prima{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    margin: 5px;
}

.immagine-fondo-seconda{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    margin: 5px;
}

.colore-bianco{
    color: white;
}